.div-styles {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    position: relative;
    top: 0;
    text-align: left;
    font-size: 20px;
}

.header-style {
    max-width: 1000px;
    height: auto;
    background-color: #d9edf7;
    border: 1px solid rgb(105, 220, 255);
    margin-top: 0px !important;
    padding: 12px 12px 12px 35px;
    color: #1f6d93;
    text-align: left !important;
    border-radius: 10px 10px 0px 0px;
}

.inner-containers {
    margin: 5px 0px 25px 0px;
}

.label-style {
    font-weight: 600;
    position: relative;
    left: 230px;    
}

.label-input {
    position: relative;
    left: 401px;
    padding: 10px 10px 12px 10px;
    border: 1.5px solid rgb(148, 148, 148);
    border-radius: 6px;
    color: rgb(51, 51, 51);
    width: 300px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.type-label {
    font-weight: 600;
    position: relative;
    left: 230px; 
}

.multiselect {
    font-weight: 600;
    position: relative;
    left: 405px;
    font-size: 18px !important;
}

.type-input {
    position: relative;
    left: 420px;
    top: 4px;
    width : 20px;
    height : 20px;
    cursor: pointer;
}

.value-selected {
    position: relative;
    left: 423px;
    color: rgb(102, 102, 102);
    font-weight: 450;
    font-size: 18px !important;
}

.default-label {
    font-weight: 600;
    position: relative;
    left: 230px; 
}

.default-input {
    position: relative;
    left: 328px;
    padding: 10px 10px 12px 10px;
    border: 1.5px solid rgb(148, 148, 148);
    border-radius: 6px;
    color: rgb(51, 51, 51);
    width: 300px;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.choices-label {
    font-weight: 600;
    position: relative;
    left: 230px; 
    vertical-align: top;
}

.choices-input {
    position: relative;
    left: 380px;
    padding: 10px;
    border: 1.5px solid rgb(148, 148, 148);
    border-radius: 6px;
    color: rgb(51, 51, 51);
    width: 300px;
    font-size: 17px;
    height: 150px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-label {
    font-weight: 600;
    position: relative;
    left: 230px; 
}

.order-input {
    position: relative;
    left: 395px;
    top: 4px;
    width : 20px;
    height : 20px;
    cursor: pointer;
}

.alpha-label {
    position: relative;
    left: 400px;
    font-size: 18px !important;
}

.save-button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
}

.clear-button {
    cursor: pointer;
    padding: 10px;
    border: none;
    background:none;
    font-size: 20px;
    color: rgb(255, 85, 85);
    font-weight: 600;
    margin-left: 20px;
}

.save-button:hover {
    background-color: #3e8e41;
}

.button-container {
    text-align: center;
    margin: 50px 0px 10px 0px;
}

.success-message {
    font-size: 18px;
    color: #4CAF50;
    text-align: center;
    margin: 10px 0px 20px 0px;
}

.error-message {
    font-size: 18px;
    color: red;
    text-align: center;
    margin-top: -10px !important;
    margin-bottom: 20px;
}