.div-styles {
    max-width: 1000px;
    margin: auto;
    width: 100%;
    position: relative;
    top: 0;
    text-align: center;
}

.header-style {
    max-width: 1000px;
    height: auto;
    background-color: #d9edf7;
    border: 1px solid rgb(105, 220, 255);
    margin-top: 0px !important;
    padding: 12px 12px 12px 35px;
    color: #1f6d93;
    text-align: left !important;
    border-radius: 10px 10px 0px 0px;
}